div {
    padding: 0;
    margin: 0;
}

html, .header, .control {
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .control {
    width: 700px;
}

.title {
    font-size: 48px;
}

.subtitle {
    font-size: 24px;
}

.control {
    flex-direction: column;
}

.control__button-wrapper {
    display: flex;
}

.control__button {
    padding: 0.5em 1em;
    font-size: 24px;
    border: 0;
    background-color: #36caff;
    color: #fff;
    outline: none;
    margin-left: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    position: relative;
    width: 700px;
    height: 380px;
    padding: 0;
    margin: 0;
}

.container * {
    position: absolute;
}

.holder {
    left: 150px;
    width: 400px;
    height: 30px;
    background: #36caff;
    border-radius: 5px;
}

.cradle {
    transform-origin: top center;
    top: 30px;
    width: 50px;
    height: 300px;
    z-index: -10;
}

.cradle--left {
    animation: move-left 1s linear infinite;
}

.cradle--right {
    animation: move-right 1s linear infinite;
}

.cradle--both {
    animation: move-both 1s linear infinite;
}

.cradle:first-child {
    left: 75px;
}

.cradle:nth-child(2) {
    left: 125px;
}

.cradle:nth-child(3) {
    left: 175px;
}

.cradle:nth-child(4) {
    left: 225px;
}

.cradle:nth-child(5) {
    left: 275px;
}

.cradle__line {
    left: 24px;
    width: 2px;
    height: 250px;
    background-color: #000;
}

.cradle__ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 250px;
    background: #8b8b8b;
}

@keyframes move-left {
    0% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

@keyframes move-right {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes move-both {
    0% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(30deg);
    }
}